<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es-ES">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
<h1>Ingresa dos números enteros</h1>

<form action="/calcular" method="post">
    <input type="number" name="num1" required>
    <input type="number" name="num2" required><br><br>

    <button type="submit" name="operacion" value="sumar">Sumar</button>
    <button type="submit" name="operacion" value="restar">Restar</button>
    <button type="submit" name="operacion" value="multiplicar">Multiplicar</button>
    <button type="submit" name="operacion" value="dividir">Dividir</button>
</form>

<div th:if="${resultado != null}">
    <h2>Resultado: <span th:text="${resultado}"></span></h2>
</div>

<div th:if="${error != null}">
    <h2 style="color: red;" th:text="${error}"></h2>
</div>
</body>
</html>